<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Aagam Shah - Resume</title>

    <!-- Link Tags -->
    <link rel="stylesheet" href="./css/styles.css">
    <!-- Fa Fa Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-height-responsive">
        <div class="logo-head">
            <h2 class="logo">Aagam</h2>
        </div>
        <ul class="nav-list">
            <li><a href="#">Home</a></li>
            <li><a href="#About">About</a></li>
            <li><a href="#Skills">Skills</a></li>
            <li><a href="#Experience">Experience</a></li>
        </ul>
    </nav>
    <div class="grid-container">
        <div class="grid-item">
            <h4>Hello, My name is Aagam Shah</h4><br>
            <h6 id='tagline'> - Software Developer Intern at Accolite Digital</h6>
            <img src="./images/accolite-logo.png" height="130px" width="320px">
        </div>
        <div class="grid-photo">
            <img src="./images/Photo.jpg" height="80%" width="60%">
        </div>
    </div>
    <div class="about">
        <h2>About Me</h2>
        <p>
            I want to succeed in a stimulating and challenging environment, building the success of the company while I
            experience advancement opportunities. Self-motivated, creative and technically sound information-technology
            student with a keen interest in learning new technologies.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic quo odit molestiae assumenda non, totam
            corporis a? Fugit quasi cum repellendus minus, possimus cumque quos amet omnis esse, dolores a.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id possimus ad sed excepturi sint dolore et
            sapiente suscipit incidunt vero eum, aliquam recusandae cum vel odit quod repudiandae necessitatibus dicta?


        </p>
    </div>
    <div class="skills">
        <h2 class="skill-header">Skills</h2>
        <div class="skill-item">
            <div class="card">
                <img src="images/java-logo.png" alt="Avatar" style="width:200px;height:100px;">
                <div class="container">
                    <h6>Java</h6>
                </div>
            </div>
        </div>
        <div class="skill-item">
            <div class="card">
                <img src="images/python-logo.svg" alt="Avatar" style="width:200px;height:100px;">
                <div class="container">
                    <h6>Python</h6>
                </div>
            </div>
        </div>
        <div class="skill-item">
            <div class="card">
                <img src="images/android-logo.png" alt="Avatar" style="width:200px;height:100px;">
                <div class="container">
                    <h6>Android</h6>
                </div>
            </div>
        </div>
        <div class="skill-item">
            <div class="card">
                <img src="images/angular-logo.png" alt="Avatar" style="width:200px;height:100px;">
                <div class="container">
                    <h6>Angular</h6>
                </div>
            </div>
        </div>
        <div class="skill-item">
            <div class="card">
                <img src="images/php-logo.png" alt="Avatar" style="width:200px;height:100px;">
                <div class="container">
                    <h6>Php</h6>
                </div>
            </div>
        </div>
        <div class="skill-item">
            <div class="card">
                <img src="images/javascript-logo.png" alt="Avatar" style="width:200px;height:100px;">
                <div class="container">
                    <h6>JavaScript</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="experience">
        <h2>Experience</h2>
        <div class="history-tl-container">
            <ul class="tl">
                <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                        6th January 2021 - Present
                    </div>
                    <div class="item-title">Accolite Digital Pvt Ltd</div>
                    <div class="item-detail"> - Software Developer Intern</div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                        1st April 2020 - 31st June 2020
                    </div>
                    <div class="item-title">The Great Mentor</div>
                    <div class="item-detail">- Backend Developer</div>
                    <div class="item-detail"> Developed TGM Web Application using Laravel Framework.<br>
                        Tested the Application using PhpUnit Test</div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                        1st Februray 2020 - 31st March 2020
                    </div>
                    <div class="item-title">K.J Somaiya College of Engineering - Research Wing</div>
                    <div class="item-detail"> - Android Developer</div>
                    <div class="item-detail"> Made Online Voting Application with Fingerprint authentification
                        <br>Tech Stack used - Android(Java), Firebase Database , Fingerprint Auth API
                    </div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                        1st June 2019 - 31st August 2019
                    </div>
                    <div class="item-title">K.J Somaiya College of Engineering - Research Wing</div>
                    <div class="item-detail"> - Windows App Developer</div>
                    <div class="item-detail"> Made Text,Speech,Audio Conversion to Braille
                        <br>Tech Stack used - C#, MySQL Database
                    </div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                        1st Februray 2020 - 31st March 2020
                    </div>
                    <div class="item-title">Sahu Technology</div>
                    <div class="item-detail"> - Web Developer</div>
                    <div class="item-detail"> Made Frontend for Klassink Website - Ecommerce Website
                        <br>Tech Stack used - HTML5,CSS3,Bootstrap,JavaScript
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="achivement">
        <h2>Education</h2>
        <br>
        <div class="table-val">
            <table>
                <tr>
                    <th>Degree</th>
                    <th>Name</th>
                    <th>Percent/CGPA</th>
                </tr>
                <tr>
                    <td>B.Tech (Information Technology)</td>
                    <td>K.J Somaiya College of Engineering</td>
                    <td>9.33</td>
                </tr>
                <tr>
                    <td>HSC (Higher Secondary Certificate)</td>
                    <td>K.C College</td>
                    <td>86%</td>
                </tr>
                <tr>
                    <td>SSC (Secondary Schoo; Certificate)</td>
                    <td>Blossom S.T English High School</td>
                    <td>92.20%</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="social-media">
        <h2>Social Media</h2><br>
        <h4> Connect with me using various Soical Media Platform</h4><br>
        <div class="media">
            <a href="https://www.facebook.com/AAGAMSHAH109/" class="fa fa-facebook"></a>
            <a href="https://www.linkedin.com/in/aagamshah109/" class="fa fa-linkedin"></a>
            <a href="https://github.com/aagam-accolite" class="fa fa-github"></a>
            <a href="https://accounts.snapchat.com/" class="fa fa-snapchat-ghost"></a>
            <a href="https://www.skype.com/en/live:aagamshah109_1" class="fa fa-skype"></a>
        </div>
        <br>
    </div>
    <div class="contactme">
        <h2>Contact Me</h2>
        <div class="map-container">
            <br>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1833.1693633659613!2d72.82792851469246!3d18.941547760750527!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTjCsDU2JzMwLjgiTiA3MsKwNDknMzcuMyJF!5e0!3m2!1sen!2sin!4v1610473413770!5m2!1sen!2sin"
                width="600" height="358" frameborder="0" style="border:0; border-radius: 3%;" allowfullscreen=""
                aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="form-container">
            <form>
                <label for="fname">Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Your name..">

                <label for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="Your Email ..">

                <label for="message">Message</label>
                <input type="text" id="message" name="message" placeholder="Your Message ..">

                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    <div class="footer">
        <br>
        <h4 align="center">Thank You - Aagam Shah</h4>
        <br>
    </div>
</body>

</html>